body {
    background-color: #222222;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

span {
    font-size: 40px;
    color: #DDDDDD;
    text-align: center;
}

#game {
    max-width: 890px;
    max-height: 640px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#info {
    font-size: 40px;
    color: #DDDDDD;
    text-align: center
}

.box, .box-number {
    width: 100px;
    height: 100px;
    background-color: transparent;
    font-size: 80px;
    text-align: center;
    padding-top: 10px;
    color: #DDDDDD;
    transition: 0.1s;
    border-radius: 5px;
    font-weight: 900;
}

.box-number {
    cursor: pointer
}

input[type=text] {
    height: 50px;
    border: 0;
    border-bottom: 2px solid #DDDDDD;
    text-align: center;
    width: 100px;
    outline: none;
    font-size: 40px;
    color: #DDDDDD;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
    background-color: transparent;
}

input[type=text]:focus {
    border-bottom: 2px solid steelblue;
}

#input {
    padding-top: 20px;
    text-align: center;
}